@font-face {
    font-family: "clockicons";
    src: url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot");
    src: url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons")format("svg");
}


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:wght@300;400&display=swap');



body {
    margin: 0;
    padding: 0;
    font-family: "clockicons";
    background-color: #F0F0F0;
    overflow-x: hidden;
}

.main-container {
    width: 1280px;
    margin: 0 auto;
}

.time {
    margin: 0 auto;
    height: 300px;
    width: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    background: rgb(241, 236, 226);
    box-shadow: -1px 0px 0px 12px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: -1px 0px 0px 12px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: -1px 0px 0px 12px rgba(255, 255, 255, 0.6);
}


/* .time .etime {
    font-size: 6rem !important;
    margin-bottom: 50px;
    
} */

.time .date {
    font-size: 2rem !important;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: 'EB Garamond' !important;
}

#time {
    font-size: 7rem;
    margin-top: 80px;
}

.time button {
    width: 180px;
    background-color: #4AAE71;
    font-size: 18px;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.time button:hover {
    background-color: #75D16E;
}


/* 
namaz-container */


.namaz-container {
    width: 1280px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #EEF1ED;
}

.nheader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 55px 10px;
    background-color: #F4ECE1;
    width: 100%;
    height: 60px;
    font-family: 'EB Garamond' !important;
}

.nheader img {
    height: 80px;
}

.namaz-container span {
    color: #008000;
}

.prayer-txt {
    text-align: center;
    font-family: 'EB Garamond' !important;
    width: 700px;
}

.prayer-txt h2 {
    font-size: 84px;
    font-weight: 400;
}

.prayer-txt p {
    font-size: 28px;
}

.task-nam-btn {
    display: flex;
    justify-content: space-around;
}

.task-nam-btn button {
    height: 45px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background-color: #056a2c;
    color: #fff;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.task-nam-btn button:hover {

    background-color: #008000;
}

.namaz-time {
    background-color: #EFE9E4 !important;
    height: 250px;
    width: 90%;
    font-family: 'EB Garamond' !important;
    margin-bottom: 80px;
}

.wave {
    background-image: url(images/wwave.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.namaz-time .date-js {
    font-size: 18px;
}

.namaz-time .flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.namaz-time h1 {
    font-size: 18px;
}

.namaz-time span {
    font-size: 28px;
    color: #008000;
}

.namz-time-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.namz-time-cont .container {
    background-color: #fff;
    width: 15%;
    height: auto;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.container h2 {
    font-size: 17px;
}

.container span {
    font-family: "clockicons";
}


.task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    background-image: url(images/use.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1280px;
    display: none;
}

.task-container img {
    height: 650px;
    margin-left: 160px;
}
.date-task input{
    height: 40px;
    width: 300px;
    outline: none;
    border: 2px solid #008000;
    border-radius: 25px;
    padding: 0px 15px;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 30px;
    cursor: pointer;
}

.postBtn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
    font-size: 18px;
    background-color: #056a2c;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px;
}

.postBtn button:hover{
    background-color: #008000;
}

.postedPost{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 900px;
}

.postedPost-container{
    width: 250px;
    height: 250px;
    border: 2px solid #008000;
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    font-family: 'EB Garamond' !important;
}

.postedPost-container h4{
    font-size: 18px !important;
}